/* RESET CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body {
    font-family: "Open Sans", sans-serif;
}

hr {
    border-bottom: solid 1px lightgray;

}

.padding-botton {
    padding-bottom: 20px;
}

.padding-top {
    padding-top: 20px;
}


.color-gray {
    color: gray;
}

.fa-check {
    color: #0161fd;
}

.margin-right{
    margin-right: 60px;
}

/* CLASSI */

.header-flex {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;


}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: anchor-center;

}

.flex-row li {
    flex-direction: row;
    list-style: none;
    padding: 15px;
    cursor: pointer;
}

.flex-row li:hover {
    border-bottom: solid 2px #0161fd;
}

.button-blue:hover {
    background-color: #3d84f7;

}

.button {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.button-blue {
    background-color: #0161fd;
    color: white;
    border: #0161fd;
    cursor: pointer;
}

.font-size-button {
    font-size: 1.1rem;
}

/* HELLO SECTION */
.hello-section {
    background-color: #b4d0e6;
    height: 720px;
    width: 100%;
    padding-bottom: 100px;

}

.title {
    font-size: 2.4rem;
    width: 60%;
    padding-top: 150px;
    margin: 0 auto;
}

.hello-section-container {
    width: 60%;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 100px;
}

.left-container {
    flex-direction: column;
    width: 36%;
}

.right-container {
    width: 64%;
}

.right-container img {
    max-height: 100%;
    max-width: 100%;
}

.arrow {
    font-size: 2rem;
    padding-top: 40px;
}

/* PIANO BUSINESS */

.piano-business {
    display: flex;
    width: 100%;
    height: 1400px;
    padding-top: 250px;
    
}

.flex-piano-business {
    flex-direction: column;
    display: flex;
    width: 55%;
    margin: 0 auto;
}

.business-title {
    width: 100%;
    margin: 0 auto;
    font-size: 2rem;
}

.check-row {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap: 5px;
    width: 100%;

}

.check-blue {
    padding: 6px;
    border: 5px solid #0161fd;
    border-radius: 100px;
    background-color: white;
}

.check-white {
    padding: 10px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: white;
}

.check-blue p {
    padding-right: 20px;
}

.piani-mensili {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    gap: 50px;
    height: -webkit-fill-available;

}

.content-piani-mensili h3{
    font-size: 1.5rem;
}

.col-calc {
    height: 100%;
    width: calc(100% / 3 - (100px / 3));
    border: 1px solid black;
    display: flex;
}


.title-piani-mensili>p {
    text-align: center;
    padding: 5px;
}

.hr-small {
    width: 30%;
    margin-right: auto;

}

.content-piani-mensili {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}


.content-piani-mensili ul li {
    padding-bottom: 30px;
    list-style: none;
}

.piano-business-footer{
    width: 100%;
    border: 1px solid black;

}

.flex-piano-business-footer{
    display: flex;
   

}

.width-left{
    width: 75%;
}

.width-right{
    width: 25%;
}