* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}


.header-flex {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;


}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: anchor-center;

}

li {
    flex-direction: row;
    list-style: none;
    padding: 15px;
    cursor: pointer;
}

li:hover {
    border-bottom: solid 2px #0161fd;
}

.button-blue:hover {
    background-color: #3d84f7;

}

.button {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.button-blue {
    background-color: #0161fd;
    color: white;
    border: #0161fd;
    cursor: pointer;
}
.font-size-button{
    font-size: 1.1rem;
}
.hello-section{
    background-color: #b4d0e6;
    height: 720px;
    width: 100%;
   
}
.title{
    font-size: 2.4rem;
    width: 60%;
     padding-top: 150px;
    margin: 0 auto;
}

.hello-section-container {
    width: 60%;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
}



.left-container{
    flex-direction: column;
    width: 36%;
}

.right-container{
    width: 64%;
}

.right-container img{   
    max-height: 100%;
    max-width: 100%;
}

.padding-botton{
    padding-bottom: 20px;
}

.padding-top{
    padding-top: 20px;
}

.arrow{
    font-size: 2rem;
    padding-top: 40px;
}